<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prepo" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.parse.starter.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.parse.starter.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/com_parse_ui_app_logo" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:583674424018" />

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.parse.starter" />
            </intent-filter>
        </receiver>

        <activity android:name=".SplashScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <!-- - Facebook Login Activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Parse Login Activity -->
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >

            <!-- We reference a drawable resource here, so we must use android:resource -->
            <!-- <meta-data -->
            <!-- android:name="com.parse.ui.ParseLoginActivity.APP_LOGO" -->
            <!-- android:resource="@drawable/my_app_logo"/> -->
            <!-- For these non-resource options, use android:value -->
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_HELP_TEXT"
                android:value="@string/password_reset_text" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.MIN_PASSWORD_LENGTH"
                android:value="8" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <!-- We reference a string-array resource here, so we must use android:resource -->
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_PERMISSIONS"
                android:resource="@array/my_facebook_permissions" />
        </activity>
        <activity
            android:name=".ParseLoginActivity"
            android:label="@string/title_activity_parse_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PhoneNumberActivity"
            android:label="@string/title_activity_phone_number"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".HotelProfileActivity"
            android:label="@string/title_activity_hotel_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SharedMenuActivity"
            android:label="@string/title_activity_shared_menu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TimePrefActivity"
            android:label="@string/title_activity_time_pref"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".UserBookingActivity"
            android:label="@string/title_activity_user_booking"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".UserBookingHistoryActivity"
            android:label="@string/title_activity_user_booking_history"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".HotelMenuActivity"
            android:label="@string/title_activity_hotel_menu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <receiver
            android:name=".NotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CartActivity"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
